:root {
    --primary-font: 'Raleway', sans-serif;
    --secondary-font: 'Open Sans', sans-serif;
    --blue: #08A6E4;
    --red: #FB3B64;
    --green: #55DFB4;
    --darkgrey: #707070;
    --semigrey: #95989A;
    --lightgrey: #A5A5A5;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1352px;
    margin: 0 auto;
}


/* -----NAVBAR----- */

.nav-bar {
    border: none;
    box-shadow: 0px 0px 5px 0px #A5A5A5;
}

.nav-bar .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: var(--blue);
    font-family: var(--primary-font);
    font-size: 37px;
}

.nav-bar ul {
    width: 50vw;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar li {
    text-align: center;
}

.nav-bar__links a {
    color: var(--lightgrey);
    font-family: var(--secondary-font);
    font-weight: bold;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 3.28px;
    padding: 26px 0;
}

.nav-bar__links a:hover {
    border-bottom: 2px solid var(--blue);
    color: black;
}


/* ---- BANNER ----- */

.banner {
    text-align: center;
    background: white url(../assets/Background.png) no-repeat bottom center;
    height: 100vh;
}

.banner h1 {
    font-family: var(--primary-font);
    font-size: 57px;
    margin-top: 100px;
}

.banner p {
    font-family: var(--secondary-font);
    font-size: 22px;
    margin: 40px;
}

.button {
    display: inline-block;
    font-family: var(--secondary-font);
    color: white;
    font-size: 22px;
    border-radius: 50px;
    border: none;
    background-color: var(--blue);
    padding: 15px 100px;
}

.button__header {
    max-width: 440px;
}


/* ---- SECTION 1 ----- */

.section-title {
    font-family: var(--primary-font);
    font-size: 36px;
}

.title-1 {
    text-align: center;
    margin: 100px 0;
}

.section-1 .container {
    max-width: 850px;
    margin: 0 auto;
}

.fun-facts {
    display: flex;
    justify-content: space-between;
    font-family: var(--secondary-font);
    height: 200px;
    text-align: center;
}

.fun-facts h3 {
    font-size: 24px;
    font-weight: bold;
    padding: 10px;
    letter-spacing: 6px;
}

.fun-facts p {
    font-size: 20px;
    color: var(--semigrey);
    line-height: 25px;
}

.fun-fact {
    width: 150px;
    text-align: center;
}

.fun-fact>* {
    padding: 10px;
}

.fun-fact img {
    margin-left: 50px;
}

.fun-fact img::before {
    content: "";
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #060606;
    z-index: -2;
}


/* ---- SECTION 2 ----- */

.section-2 {
    background-color: #F7F7F7;
    padding-top: 100px;
}

.section-2 .container {
    max-width: 1000px;
}

.article {
    border: none;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 0px 5px 0px rgb(236, 230, 230);
    margin-bottom: 40px;
}

.article p {
    font-family: var(--secondary-font);
    padding: 30px 0;
}

.article-1,
.article-2 {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.article-1 {
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.article-2 {
    justify-content: space-between;
}

.article-pic-1 {
    max-width: 300px;
    max-height: 200px;
}

.article-pic-2 {
    max-width: 370px;
    max-height: 270px;
}

.article-pic-2::before {
    content: "";
    display: inline-block;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background-color: #060606;
    z-index: -2;
    position: relative;
}

.article-content {
    width: 40%;
    padding: 60px 20px;
}

.last-line {
    display: flex;
}

.last-line .article-3 {
    width: 60%;
}

.article-4 {
    flex-shrink: 1;
    background-color: var(--green);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 40px;
}

.article-4 img {
    height: 170px;
    width: 300px;
    padding: 30px;
}

.article .hr {
    height: 4px;
    max-width: 300px;
    border: none;
}

.article-1 .hr {
    background-color: var(--red);
}

.article-2 .hr {
    background-color: var(--blue);
}

.article-3 .hr {
    background-color: var(--green);
}