:root {
    --primary-font: 'Raleway', sans-serif;
    --secondary-font: 'Open Sans', sans-serif;
    --blue: rgb(8, 166, 228);
    --red: rgb(251, 59, 100);
    --green: rgb(85, 223, 180);
    --darkgrey: #707070;
    --semigrey: #95989a;
    --lightgrey: #A5A5A5;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1352px;
    margin: 0 auto;
}


/* -----NAVBAR----- */

.nav-bar {
    border: none;
    box-shadow: 0px 0px 5px 0px #A5A5A5;
}

.nav-bar .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: var(--blue);
    font-family: var(--primary-font);
    font-size: 37px;
}

.nav-bar ul {
    width: 50vw;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.nav-bar li {
    text-align: center;
}

.nav-bar__links a {
    color: var(--lightgrey);
    font-family: var(--secondary-font);
    font-weight: bold;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 3.28px;
    padding: 24px 0;
}

.nav-bar__links a:hover {
    border-bottom: 2px solid var(--blue);
    color: black;
}


/* ---- BANNER ----- */

.banner {
    text-align: center;
    background: white url(../assets/Background.png) no-repeat bottom center;
    height: 100vh;
}

.banner h1 {
    font-family: var(--primary-font);
    font-size: 57px;
    margin-top: 100px;
}

.banner p {
    font-family: var(--secondary-font);
    font-size: 22px;
    margin: 40px;
}

.button {
    display: inline-block;
    font-family: var(--secondary-font);
    color: white;
    font-size: 22px;
    border-radius: 50px;
    border: none;
    background-color: var(--blue);
}

.button__header {
    max-width: 440px;
    padding: 15px 100px;
}


/* ---- SECTION 1 ----- */

.section-title {
    font-family: var(--primary-font);
    font-size: 36px;
}

.title-1 {
    text-align: center;
    margin: 100px 0;
}

.section-1 .container {
    max-width: 850px;
    margin: 0 auto;
}

.fun-facts {
    display: flex;
    justify-content: space-between;
    font-family: var(--secondary-font);
    height: 200px;
    text-align: center;
}

.fun-facts h3 {
    font-size: 24px;
    font-weight: bold;
    padding: 10px;
    letter-spacing: 6px;
}

.fun-facts p {
    font-size: 20px;
    color: var(--semigrey);
    line-height: 25px;
}

.fun-fact {
    max-width: 180px;
    text-align: center;
}

.fun-fact>* {
    padding: 10px;
}

.fun-fact img {
    margin-left: 50px;
}

.circle {
    width: 50px;
    height: 50px;
    border-radius: 35px;
    background-color: var(--red);
    z-index: -1;
    position: relative;
    left: 40px;
}

.circle-2 {
    background-color: var(--blue);
}

.circle-3 {
    background-color: var(--green);
}

.circle-1::before {
    content: url(/assets/Person.svg);
    position: relative;
    left: 25px;
}

.circle-2::before {
    content: url(/assets/Eye.svg);
    position: relative;
    left: 15px;
    top: 10px;
}

.circle-3::before {
    content: url(/assets/Catalog.svg);
    position: relative;
    left: 25px;
}


/* ---- SECTION 2 ----- */

.section-2 {
    background-color: #F7F7F7;
    padding-top: 100px;
}

.section-2 .container {
    max-width: 1000px;
}

.article {
    border: none;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 0px 5px 0px rgb(236, 230, 230);
    margin-bottom: 40px;
}

.article p {
    font-family: var(--secondary-font);
    padding: 30px 0;
}

.article-1,
.article-2 {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.article-1 {
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.article-2 {
    justify-content: space-between;
}

.article-pic-1 {
    margin-top: 20px;
    max-width: 300px;
    max-height: 200px;
}

.article-pic-2 {
    margin-top: 20px;
    max-width: 370px;
    max-height: 270px;
}

.article-content {
    width: 40%;
    padding: 60px 20px;
}

.last-line {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.last-line .article-3 {
    margin-left: 0;
    padding-right: 30px;
    flex-grow: 2;
}

.article-4 {
    flex-shrink: 1;
    background-color: var(--green);
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-left: 30px;
    margin-right: 0;
}

.article-4 img {
    height: 200px;
    width: 300px;
    padding: 30px;
}

.article .hr {
    height: 4px;
    max-width: 300px;
    border: none;
}

.article-1 .hr {
    background-color: var(--red);
}

.article-2 .hr {
    background-color: var(--blue);
}

.article-3 .hr {
    background-color: var(--green);
}


/* ---- SECTION 3 ----- */

.title-5 {
    text-align: center;
    margin-top: 100px;
}

.boxes {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.box {
    margin-top: 50px;
    padding: 10px 70px;
    border: 1px solid var(--blue);
    border-radius: 20px;
    text-align: center;
    box-shadow: 0px 0px 10px 0px rgba(8, 166, 228, 0.4);
}

.box>* {
    padding-top: 20px;
}

.box h3,
.box h5 {
    font-weight: bold;
    font-family: var(--primary-font);
}

.box h4,
.box li {
    font-family: var(--secondary-font);
}

.box h3 {
    font-size: 21px;
}

.box h4 {
    font-size: 46px;
    font-weight: 300;
}

.box ul {
    margin-top: 30px;
}

.box li {
    padding: 15px;
}

.box li::before {
    content: url(../assets/Ckechmark-2.svg);
    padding-right: 10px;
}

.box-1 {
    border: 1px solid var(--red);
    box-shadow: 0px 0px 10px 0px rgba(251, 59, 100, 0.4);
}

.box-1 h5 {
    color: white;
}

.box-1 h4 {
    color: var(--red);
}

.button-1 {
    background-color: rgb(251, 59, 100);
    padding: 15px 80px;
}

.box-2 h4 {
    color: var(--blue);
}

.box-3 {
    border: 1px solid var(--green);
    box-shadow: 0px 0px 10px 0px rgba(85, 223, 180, 0.4);
}

.box-3 h4 {
    color: var(--green);
}

.button-3 {
    background-color: rgb(85, 223, 180);
    padding: 15px 80px;
}

.box-2 {
    padding: 30px 90px;
}

.button-1,
.button-3 {
    position: relative;
    bottom: -40px;
}

.button-2 {
    position: relative;
    bottom: -60px;
    padding: 15px 80px;
}

.box-1 li:nth-of-type(n+4)::before,
.box-2 li:nth-of-type(5)::before {
    content: url(../assets/Close.svg);
    padding-right: 10px;
}


/* ---- SECTION 2 ----- */

.section-4 {
    margin: 150px 100px 50px 100px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.section-4>* {
    width: 400px;
    margin: 30px;
}

.section-4 p,
.section-4 label {
    font-family: var(--secondary-font);
}

.form-description>* {
    margin-bottom: 30px;
}

.contact-data {
    display: flex;
    color: var(--semigrey);
    align-items: center;
    flex-wrap: wrap;
}

.mail {
    margin: 0 10px;
}

.phone {
    margin: 0 20px;
}

.mail::before {
    content: url(/assets/Mail\ Icon.svg);
    position: relative;
    top: 8px;
    left: -10px;
}

.phone::before {
    content: url(/assets/Phone\ Icon.svg);
    position: relative;
    top: 8px;
    left: -5px;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.contact-form>label,
.contact-form>input {
    display: block;
    margin-bottom: 20px;
    width: 100%;
}

.form-label {
    color: var(--blue);
    letter-spacing: 5px;
    font-weight: bold;
    text-transform: uppercase;
}

.form-input {
    border: none;
    border-bottom: 2px solid rgba(149, 152, 154, 0.5);
}

.checkbox-wrapper {
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
}

.checkbox-label {
    display: block;
    height: 20px;
    width: 20px;
    border: 1px solid var(--semigrey);
    margin-bottom: 10px;
    cursor: pointer;
}

#checkbox:checked~.checkbox-label {
    display: block;
    height: 20px;
    width: 20px;
    border: 1px solid var(--semigrey);
    margin-bottom: 10px;
    cursor: pointer;
}

#checkbox:checked~.checkbox-label::after {
    content: url(/assets/Checkmark.svg);
    cursor: pointer;
    position: absolute;
    top: 3px;
    left: 5px;
}

.checkbox-wrapper p {
    font-size: 12px;
    padding-left: 10px;
    max-width: 350px;
}

.button-send {
    padding: 15px 70px;
    max-width: 200px;
    align-self: flex-end;
}


/* -----FOOTER------ */

footer {
    border: none;
    box-shadow: 0px 0px 25px 0px rgb(218, 215, 215);
    background-color: #F7F7F7;
}

footer .container {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copy p {
    font-family: var(--secondary-font);
    color: var(--semigrey);
    font-size: 11px;
    padding-top: 10px;
}

.twitter,
.facebook {
    margin-left: 20px;
}